


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.atuma{
    background-color: rgb(3, 98, 221);
    display: inline-block;

     width: 400px;
    height: 150px;

    padding-top: 50px;/*espaço interno do topo*/
    padding-left: 150px;/*espaço interno do esquerda*/

    border: 5px solid black;

    margin-left: 70px;/*espaço externo do topo*/
    margin-top: 25px;/*espaço externo esquerda*/

}

.meia{
    background-color: rgb(189, 126, 32);
    display: inline-block;
    width: 600px;
    height: 300px;

    padding-top: 125px;/*espaço interno do topo*/
    padding-left: 250px;/*espaço interno do esquerda*/

    border: 10px solid rgb(131, 141, 141);

    margin-top: 40px;/*espaço externo do topo*/
    margin-left: 70px;/*espaço externo esquerda*/
    margin-right: 70px;
}

.canteta{

background-color: brown;
display: inline-block;
width: 240px;
height: 150px;

padding-top: 60px ;/*espaço interno do topo*/
padding-left: 100px;

border: 5px solid rgb(199, 159, 29); /*borda da caixa*/
margin-top: 40px; /*espaço externo do topo*/
margin-left: 70px; /*espaço externo esquerda*/
margin-right: 55px; /*distancia da espaço externo direita*/
}
body{
    background-color: rgb(2, 2, 73);
}